@model IEnumerable<EPHARMA.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<div class="app-content">
    <div class="content-wrapper">
        <div class="content-header row">
            <h4 class="card-title">Order</h4>
            <a asp-action="Create">
                <button class="btn btn-primary mb-2 d-flex align-items-center" style="margin-left:700px">
                    <i class="bx bx-plus"></i>&nbsp; Add new Order
                </button>
            </a>
        </div>
        <div class="content-body">
            <div class="users-list-table">
                <div class="card">
                    <div class="card-body">
                        @*<div class="card-header">
                        <h4 class="card-title">City Details</h4>
                        <a asp-action="Create">
                            <button id="addRow" class="btn btn-primary mb-2 d-flex align-items-center">
                                <i class="bx bx-plus"></i>&nbsp; Add new City
                            </button>
                        </a>
                    </div>*@
                        <div class="table-responsive">
                            <table class="table zero-configuration">
                                <thead>
                                    <tr>

                                        <th>
                                            Order Code
                                        </th>
                                        <th>
                                            Pharmacy Name
                                        </th>
                                        <th>
                                            Customer Name
                                        </th>


                                        <th>
                                            Order Status
                                        </th>


                                        <th>
                                            Total Bill
                                        </th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Pharmacies.PharmacyName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Customers.CustomerName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderStatus)
                                            </td>


                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalBill)
                                            </td>

                                            <td>                                               
                                                <div class="container" style="margin:10px">
                                                    <a href="@Url.Action("OrderDetails", "Order", new {id = item.OrderId})" class="btn btn-light-info">Order Details</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>

