@model IEnumerable<EPHARMA.Models.Pharmacy>

@{
    ViewData["Title"] = "Index";
}
<div class="app-content">
    <div class="content-wrapper">
        <div class="content-header row">
            <h4 class="card-title">Pharmacy</h4>
            <a asp-action="Create">
                <button class="btn btn-primary mb-2 d-flex align-items-center" style="margin-left:650px">
                    <i class="bx bx-plus"></i>&nbsp; Add new Pharmacy
                </button>
            </a>
        </div>
        <div class="content-body">
            <div class="users-list-table">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table zero-configuration">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PharmacyLogo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PharmacyName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.VendorId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            <img src="~/images/@item.PharmacyLogo"
                                                 class="rounded-lg"
                                                 height="50" width="50"
                                                 asp-append-version="true" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PharmacyName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Vendors.VendorName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>

                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <div style="color:green">Active</div>
                                            }
                                            else
                                            {
                                                <div style="color:red">Deactive</div>
                                            }

                                        </td>
                                      

                                        <td>
                                            <div class="fonticon-container">
                                                <div class="fonticon-wrap" style="margin-bottom: 0px;">
                                                    <i onclick="@("window.location.href='" + @Url.Action("Create", "Pharmacy", new {id = item.PharmacyId}) + "'");" class="bx bx-edit"></i>
                                                </div>
                                            </div>
                                           
                                         

                                         

                                            @if (!item.Status)
                                            {
                                                <div class="fonticon-container">
                                                    <div class="fonticon-wrap" style="margin-bottom: 0px;">
                                                        <i onclick="ChangeDoctorStatus(@item.PharmacyId)" class="bx bx-trash"></i>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="fonticon-container">
                                                    <div class="fonticon-wrap" style="margin-bottom: 0px;">
                                                        <i onclick="ChangeDoctorStatus(@item.PharmacyId)" class="bx bx-trash"></i>
                                                    </div>
                                                </div>
                                            }

                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
