@model IEnumerable<EPHARMA.Models.Medicine>

@{
    ViewData["Title"] = "Index";
}
<div class="app-content">
    <div class="content-wrapper">
        <div class="content-header row">
            <h4 class="card-title">Medicine</h4>
            <a asp-action="Create">
                <button class="btn btn-primary mb-2 d-flex align-items-center" style="margin-left:700px">
                    <i class="bx bx-plus"></i>&nbsp; Add new Medicine
                </button>
            </a>
        </div>
        <div class="content-body">
            <div class="users-list-table">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table zero-configuration">
                                <thead>
                                    <tr>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Pharmacy
                                        </th>

                                        <th>
                                            Price
                                        </th>

                                        <th>
                                            Availability Status
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            <img src="~/images/@item.MedicineImage"
                                                 class="rounded-lg"
                                                 height="50" width="50"
                                                 asp-append-version="true" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MedicineName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Pharmacies.PharmacyName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.MedicinePrice)
                                        </td>

                                        <td>
                                            @if (item.Status == true)
                                            {
                                                <div style="color:green">Available</div>
                                            }
                                            else
                                            {
                                                <div style="color:red">Unavailable</div>
                                            }

                                        </td>
                                        <td>
                                            <div class="fonticon-container">
                                                <div class="fonticon-wrap" style="margin-bottom: 0px;">
                                                    <i onclick="@("window.location.href='" + @Url.Action("Create", "Medicine", new {id = item.MedicineId}) + "'");" class="bx bx-edit"></i>
                                                </div>
                                            </div>





                                            @if (!item.Status)
                                            {
                                                <div class="fonticon-container">
                                                    <div class="fonticon-wrap" style="margin-bottom: 0px;">
                                                        <i onclick="ChangeDoctorStatus(@item.MedicineId)" class="bx bx-trash"></i>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="fonticon-container">
                                                    <div class="fonticon-wrap" style="margin-bottom: 0px;">
                                                        <i onclick="ChangeDoctorStatus(@item.MedicineId)" class="bx bx-trash"></i>
                                                    </div>
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>