@model IEnumerable<EPHARMA.Models.DoctorTimeTable>

@{
    ViewData["Title"] = "Index";
}
<div class="app-content">
    <div class="content-wrapper">
        <div class="content-header row">
            <h4 class="card-title">Doctor Timetable</h4>
            <a asp-action="Create">
                <button class="btn btn-primary mb-2 d-flex align-items-center" style="margin-left:600px">
                    <i class="bx bx-plus"></i>&nbsp; Add Doctor Timetable
                </button>
            </a>
        </div>
        <div class="content-body">
            <div class="users-list-table">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table zero-configuration">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Doctors.DoctorName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Day)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StartTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EndTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NumberOfSlots)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Doctors.DoctorName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Day)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndTime.TimeOfDay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NumberOfSlots)
                                        </td>
                                      
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>