@model IEnumerable<EPHARMA.Models.DoctorWeeklyTimeSheet>
@{
    ViewData["Title"] = "WeeklyTimetable";
}

<div class="app-content">
    <div class="content-wrapper">
        <div class="content-header row">
            <h4 class="card-title">Weekly Timetable for Dr.@Model.ElementAt(0).Doctors.DoctorName</h4>
           
        </div>
        <div class="content-body">
            <section class="users-list-wrapper">
                <div class="users-list-table">
                    <div class="card">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>
                                               sr
                                            </th>
                                            <th>
                                                Week Day
                                            </th>
                                            <th>
                                                Time Range
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Availability
                                            </th>

                                            <th>
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var i = 0;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            {
                                                 i = i +1;
                                            }
                                            <tr>
                                                <td>
                                                    @i
                                                </td>

                                                <td class="col-2">
                                                    @Html.DisplayFor(modelItem => item.WeekDay)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TimeRange)
                                                </td>
                                                <td>
                                                    @item.Date.ToLongDateString()
                                                </td>

                                                <td>

                                                    @if (item.Available == true)
                                                    {<div style="color:green">Available</div> }
                                                    else
                                                    { <div style="color:red">Unavailable</div>}
                                                </td>



                                                <td class=" mt-3">


                                                    @if (!item.Available)
                                                    {
                                                        <div class="fonticon-container">
                                                            <div class="fonticon-wrap" style="margin-bottom: 0px;">
                                                                <i onclick="ChangeAvailabilityStatus(@item.DoctorWeeklyTimeSheetId)" class="bx bx-power-off"></i>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="fonticon-container">
                                                            <div class="fonticon-wrap" style="margin-bottom: 0px;">
                                                                <i onclick="ChangeAvailabilityStatus(@item.DoctorWeeklyTimeSheetId)" class="bx bx-power-off"></i>
                                                            </div>
                                                        </div>
                                                    }



                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    function ChangeAvailabilityStatus(id) {
        $.ajax({
            type: "Get",
            url: '/DoctorTimeTable/ChangeAvailabilityStatus',
            data: { id: id },
            success: function (json) {
                if (json == "Success") {
                    //swal("Updated!", "Customer Status Updated!", "success");
                    window.location.reload();
                }


                // swal("Updated!", "Customer Status Updated!", "success");
                //window.location.reload();
            },
            error: function (xhr) {
                //  swal("Error", "Please Try again later!", "error");
            }
        });
    }


</script>